http_interactions:
- request:
    method: get
    uri: http://www.google.com/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      file: no
      string: |-
        <!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en"><head><meta content="Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for." name="description"><meta content="noodp" name="robots"><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/logos/doodles/2022/dr-michiaki-takahashis-94th-birthday-6753651837109359-l.png" itemprop="image"><meta content="Dr. Michiaki Takahashi's 94th Birthday" property="twitter:title"><meta content="Dr. Michiaki Takahashi's 94th Birthday! #GoogleDoodle" property="twitter:description"><meta content="Dr. Michiaki Takahashi's 94th Birthday! #GoogleDoodle" property="og:description"><meta content="summary_large_image" property="twitter:card"><meta content="@GoogleDoodles" property="twitter:site"><meta content="https://www.google.com/logos/doodles/2022/dr-michiaki-takahashis-94th-birthday-6753651837109359-2x.png" property="twitter:image"><meta content="https://www.google.com/logos/doodles/2022/dr-michiaki-takahashis-94th-birthday-6753651837109359-2x.png" property="og:image"><meta content="972" property="og:image:width"><meta content="400" property="og:image:height"><title>Google</title><script nonce="AFhPs1+9OLH5Q8YCbydaPg==">(function(){window.google={kEI:'CAwPYsXIEZewqtsP64iHiAg',kEXPI:'0,1302536,56873,6059,206,4804,2316,383,246,5,1354,4013,923,314,1122516,1197755,667,380068,16115,8183,9261,11240,17572,4858,1362,284,9007,3021,17587,4020,978,13228,3847,4192,6430,22741,5081,887,706,1279,2742,149,1103,840,1983,213,4101,108,3406,606,2023,1777,522,14668,3227,2845,7,5599,11851,14396,1924,908,2,941,15324,432,3,1590,1,3371,2073,149,11323,2652,4,1528,656,1648,6462,577,7998,9821,4204,3050,265[...]
[...]
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"tropicos,wcvp","class":"tropicos","mode":"resolve","matches":"all","acc":0.99},"data":[["1","Brad
        boyle"]]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"ID":"1","Name_submitted":"Brad boyle","Overall_score":"","Name_matched_id":"","Name_matched":"[No
        match found]","Name_score":"","Name_matched_rank":"","Author_submitted":"","Author_matched":"","Author_score":"","Canonical_author":"","Name_matched_accepted_family":"","Genus_submitted":"Brad","Genus_matched":"","Genus_score":"","Specific_epithet_submitted":"boyle","Specific_epithet_matched":"","Specific_epithet_score":"","Family_submitted":"","Family_matched":"","Family_score":"","Infraspecific_rank":"","Infraspecific_epithet_matched":"","Infraspecific_epithet_score":"","Infraspecific_rank_2":"","Infraspecific_epithet_2_matched":"","Infraspecific_epithet_2_score":"","Annotations":"","Unmatched_terms":"Brad
        boyle","Name_matched_url":"","Name_matched_lsid":"","Phonetic":"","Taxonomic_status":"","Accepted_name":"","Accepted_species":"","Accepted_name_author":"","Accepted_name_id":"","Accepted_name_rank":"","Accepted_name_url":"","Accepted_name_lsid":"","Accepted_family":"","Overall_score_order":"","Highertaxa_score_order":"","Source":"","Warnings":""}]'
  recorded_at: 2022-02-18 03:01:31 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
