http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"meta","matches":"best"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"db_version":"4.2","build_date":"2021-08-02","code_version":"5.0.3","api_version":""}]'
  recorded_at: 2023-06-12 18:44:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
