http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"tropicos,wcvp","class":"tropicos","mode":"citations","matches":"best"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"source":"tnrs_pub","citation":"@article{tnrspub, author = {Boyle,
        B. and Hopkins, N. and Lu, Z. and Garay, J. A. R. and Mozzherin, D. and Rees,
        T. and Matasci, N. and Narro, M. L. and Piel, W. H. and McKay, S. J. and Lowry,
        S. and Freeland, C. and Peet, R. K. and Enquist, B. J.}, journal = {BMC Bioinformatics},
        number = {1}, pages = {16}, title = {The taxonomic name resolution service:
        an online tool for automated standardization of plant names}, volume = {14},
        year = {2013}, doi = {10.1186\/1471-2105-14-16} }"},{"source":"tnrs","citation":"@misc{tnrs,
        author = {Boyle, B. L. and Matasci, N. and Mozzherin, D. and Rees, T. and
        Barbosa, G. C. and Kumar Sajja, R. and Enquist, B. J.}, journal = {Botanical
        Information and Ecology Network}, title = {Taxonomic Name Resolution Service,
        version 5.0}, year = {2021}, url = {https:\/\/tnrs.biendata.org\/}, note =
        {Accessed <date_of_access>} }"},{"source":"tropicos","citation":"@misc{tropicos,
        address = {St. Louis, USA}, author = {{Missouri Botanical Garden}}, publisher
        = {Missouri Botanical Garden}, title = {Tropicos}, url = {http:\/\/www.tropicos.org},
        note = {Accessed 17 July 2021} }"},{"source":"wfo","citation":"@misc{wcvp,
        author = {{WFO}}, title = {World Flora Online}, url = {http:\/\/www.worldfloraonline.org\/},
        note = {Accessed 17 July 2021} }"},{"source":"wcvp","citation":"@misc{wcvp,
        address = {London, UK}, author = {{WCVP}}, publisher = {Royal Botanic Gardens,
        Kew}, title = {World Checklist of Vascular Plants, version 2.0}, url = {https:\/\/wcvp.science.kew.org\/},
        note = {Accessed 17 July 2021} }"},{"source":"usda","citation":"@misc{usda,
        address = {Greensboro, NC, USA}, author = {{USDA, NRCS}}, publisher = {National
        Plant Data Team}, title = {The PLANTS Database}, url = {http:\/\/plants.usda.gov},
        note = {Accessed 25 April 2021} }"}]'
  recorded_at: 2022-12-01 21:26:21 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
