http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"tropicos,wcvp","class":"tropicos","mode":"sources","matches":"best"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"sourceID":"1","sourceName":"tropicos","sourceNameFull":"Missouri
        Botanical Gardens Tropicos database","sourceUrl":"https:\/\/www.tropicos.org\/","description":"The
        Missouri Botanical Garden''s Tropicos database links over 1.33M scientific
        names with over 4.87M specimens and over 685K digital images. The data includes
        over 150K references from over 52.6K publications offered as a free service
        to the world''s scientific community.","dataUrl":"http:\/\/services.tropicos.org\/","logo_path":"https:\/\/bien.nceas.ucsb.edu\/bien\/wp-content\/uploads\/2020\/10\/TropicosLogo.gif","version":null,"sourceReleaseDate":null,"tnrsDateAccessed":"2021-07-17"},{"sourceID":"2","sourceName":"wfo","sourceNameFull":"World
        Flora Online","sourceUrl":"http:\/\/www.worldfloraonline.org\/","description":"The
        World Flora Online will be an open-access, Web-based compendium of the worlds
        plant species. It will be a collaborative, international project, building
        upon existing knowledge and published floras, checklists and revisions but
        will also require the collection and generation of new information on poorly[...]
