http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"meta","matches":"best"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"app_version":"5.2","db_version":"4.4","build_date":"2024-01-17","code_version":"5.1","api_version":"5.1"}]'
  recorded_at: 2024-03-05 14:37:35 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
