http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"wfo","mode":"syn"},"data":[[1,"Sabal palmetto"]]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"submitted_name":"Sabal palmetto","matched_nameWithAuthor":"Sabal
        palmetto (Walter) Lodd. ex Schult. & Schult.f.","matched_taxonomicStatus":"Accepted","accepted_nameID":"294291","accepted_nameWithAuthor":"Sabal
        palmetto (Walter) Lodd. ex Schult. & Schult.f.","accepted_source":"wfo","accepted_nameUrl":"https:\/\/www.worldfloraonline.org\/taxon\/wfo-0000299302","syn_nameID":"212706","syn_nameWithAuthor":"Inodes
        blackburniana (Schult. & Schult.f.) O.F.Cook","syn_taxonomicStatus":"Synonym","syn_source":"wfo","syn_nameUrl":"https:\/\/www.worldfloraonline.org\/taxon\/wfo-0000217483"},{"submitted_name":"Sabal
        palmetto","matched_nameWithAuthor":"Sabal palmetto (Walter) Lodd. ex Schult.
        & Schult.f.","matched_taxonomicStatus":"Accepted","accepted_nameID":"294291","accepted_nameWithAuthor":"Sabal
        palmetto (Walter) Lodd. ex Schult. & Schult.f.","accepted_source":"wfo","accepted_nameUrl":"https:\/\/www.worldfloraonline.org\/taxon\/wfo-0000299302","syn_nameID":"212711","syn_nameWithAuthor":"Inodes
 [...]
