http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"parse","matches":"best"},"data":[["1","Epidentrum
        boyleii"]]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"ID":"1","Name_submitted":"Epidentrum boyleii","Family":"","Genus":"Epidentrum","Specific_epithet":"boyleii","Infraspecific_rank":"","Infraspecific_epithet":"","Infraspecific_rank_2":"","Infraspecific_epithet_2":"","Author":"","Annotations":"","Unmatched_terms":"","WarningsEng":null}]'
  recorded_at: 2024-05-09 18:46:14 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
