http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"tropicos,wcvp","class":"tropicos","mode":"parse","matches":"best"},"data":[["1","Epidenrum
        boyleii"],["2","Acer rubrum"],["3","Xanthium strumarium"],["4","Abies alba"]]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"ID":"1","Name_submitted":"Epidenrum boyleii","Family":"","Genus":"Epidenrum","Specific_epithet":"boyleii","Infraspecific_rank":"","Infraspecific_epithet":"","Infraspecific_rank_2":"","Infraspecific_epithet_2":"","Author":"","Annotations":"","Unmatched_terms":""},{"ID":"2","Name_submitted":"Acer
        rubrum","Family":"","Genus":"Acer","Specific_epithet":"rubrum","Infraspecific_rank":"","Infraspecific_epithet":"","Infraspecific_rank_2":"","Infraspecific_epithet_2":"","Author":"","Annotations":"","Unmatched_terms":""},{"ID":"3","Name_submitted":"Xanthium
        strumarium","Family":"","Genus":"Xanthium","Specific_epithet":"strumarium","Infraspecific_rank":"","Infraspecific_epithet":"","Infraspecific_rank_2":"","Infraspecific_epithet_2":"","Author":"","Annotations":"","Unmatched_terms":""},{"ID":"4","Name_submitted":"Abies
        alba","Family":"","Genus":"Abies","Specific_epithet":"alba","Infraspecific_rank":"","Infraspecific_epithet":"","Infraspecific_rank_2":"","Infraspecific_epithet_2":"","Author":"","Annotations":"","Unmatched_terms":""}]'
  recorded_at: 2022-12-29 00:43:59 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
