http_interactions:
- request:
    method: POST
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"resolve","matches":"best"},"data":[[1,"Epidentrum
        boyleii"]]}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"ID":"1","Name_submitted":"Epidentrum boyleii","Overall_score":"0.9460583657634","Name_matched_id":"941004","Name_matched":"Epidendrum
        boylei","Name_score":"0.9460583657634","Name_matched_rank":"species","Author_submitted":"","Author_matched":"","Author_score":"","Canonical_author":"H\u00e1gsater
        & Dodson","Name_matched_accepted_family":"Orchidaceae","Genus_submitted":"Epidentrum","Genus_matched":"Epidendrum","Genus_score":"0.9","Specific_epithet_submitted":"boyleii","Specific_epithet_matched":"boylei","Specific_epithet_score":"0.85714285714286","Family_submitted":"","Family_matched":"","Family_score":"","Infraspecific_rank":"","Infraspecific_epithet_matched":"","Infraspecific_epithet_score":"","Infraspecific_rank_2":"","Infraspecific_epithet_2_matched":"","Infraspecific_epithet_2_score":"","Annotations":"","Unmatched_terms":"","Name_matched_url":"https:\/\/powo.science.kew.org\/taxon\/urn:lsid:ipni.org:names:322241-2","Name_matched_lsid":"","Phonetic":"","Taxonomic_status":"Accepted","Accepted_name":"Epidendrum
        boylei","Accepted_species":"Epidendrum boylei","Accepted_name_author":"H\u00e1gsater
        & Dodson","Accepted_name_id":"941004","Accepted_name_rank":"species","Accepted_name_url":"https:\/\/powo.science.kew.org\/taxon\/urn:lsid:ipni.org:names:322241-2","Accepted_name_lsid":"","Accepted_family":"Orchidaceae","Overall_score_order":"1","Highertaxa_score_order":"1","Source":"wcvp","Warnings":"0","WarningsEng":""}]'
  recorded_at: 2026-09-02 16:10:38
recorded_with: VCR-vcr/2.1.0
