http_interactions:
- request:
    method: POST
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"resolve","matches":"all","acc":0.99},"data":[[1,"Brad
        boyle"]]}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"ID":"1","Name_submitted":"Brad boyle","Overall_score":"","Name_matched_id":"","Name_matched":"[No
        match found]","Name_score":"","Name_matched_rank":"","Author_submitted":"","Author_matched":"","Author_score":"","Canonical_author":"","Name_matched_accepted_family":"","Genus_submitted":"Brad","Genus_matched":"","Genus_score":"","Specific_epithet_submitted":"boyle","Specific_epithet_matched":"","Specific_epithet_score":"","Family_submitted":"","Family_matched":"","Family_score":"","Infraspecific_rank":"","Infraspecific_epithet_matched":"","Infraspecific_epithet_score":"","Infraspecific_rank_2":"","Infraspecific_epithet_2_matched":"","Infraspecific_epithet_2_score":"","Annotations":"","Unmatched_terms":"Brad
        boyle","Name_matched_url":"","Name_matched_lsid":"","Phonetic":"","Taxonomic_status":"","Accepted_name":"","Accepted_species":"","Accepted_name_author":"","Accepted_name_id":"","Accepted_name_rank":"","Accepted_name_url":"","Accepted_name_lsid":"","Accepted_family":"","Overall_score_order":"","Highertaxa_score_order":"","Source":"","Warnings":"","WarningsEng":"[Partial]"},{"ID":"1","Name_submitted":"Brad
        boyle","Overall_score":"","Name_matched_id":"","Name_matched":"[No match found]","Name_score":"","Name_matched_rank":"","Author_submitted":"","Author_matched":"","Author_score":"","Canonical_author":"","Name_matched_accepted_family":"","Genus_submitted":"Brad","Genus_matched":"","Genus_score":"","Specific_epithet_submitted":"boyle","Specific_epithet_matched":"","Specific_epithet_score":"","Family_submitted":"","Family_matched":"","Family_scor[...]
