http_interactions:
- request:
    method: POST
    uri: https://tnrsapi.xyz/tnrs_api.php
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"submitted_name":"Sabal palmetto","matched_nameWithAuthor":"Sabal
        palmetto (Walter) Lodd. ex Schult. & Schult.f.","matched_taxonomicStatus":"Accepted","accepted_nameWithAuthor":"Sabal
        palmetto (Walter) Lodd. ex Schult. & Schult.f.","accepted_source":"wfo","accepted_nameUrl":"https:\/\/www.worldfloraonline.org\/taxon\/wfo-0000299302","syn_nameWithAuthor":"Sabal
        palmetto var. bahamensis Becc.","syn_taxonomicStatus":"Synonym","syn_source":"wfo","syn_nameUrl":"https:\/\/www.worldfloraonline.org\/taxon\/wfo-0000299303","accepted_nameWithAuthor_strict":"Sabal
        palmetto (Walter) Lodd. ex Schult. & Schult.f."}]'
  recorded_at: 2026-09-02 16:10:04
recorded_with: VCR-vcr/2.1.0
