http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"meta","matches":"best"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"app_version":"5.3.1","db_version":"4.4.1","build_date":"2024-01-17","code_version":"5.1","api_version":"5.3.2"}]'
  recorded_at: 2024-10-10 19:15:29 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
