http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"resolve","matches":"all","acc":0.01},"data":[["1","Brad
        boyle"]]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"ID":"1","Name_submitted":"Brad boyle","Overall_score":"0.40042615603257","Name_matched_id":"2051453","Name_matched":"Bradea","Name_score":"0.40042615603257","Name_matched_rank":"genus","Author_submitted":"","Author_matched":"","Author_score":"","Canonical_author":"Standl.","Name_matched_accepted_family":"Rubiaceae","Genus_submitted":"Brad","Genus_matched":"Bradea","Genus_score":"0.66666666666667","Specific_epithet_submitted":"boyle","Specific_epithet_matched":"","Specific_epithet_score":"","Family_submitted":"","Family_matched":"","Family_score":"","Infraspecific_rank":"","Infraspecific_epithet_matched":"","Infraspecific_epithet_score":"","Infraspecific_rank_2":"","Infraspecific_epithet_2_matched":"","Infraspecific_epithet_2_score":"","Annotations":"","Unmatched_terms":"boyle","Name_matched_url":"https:\/\/wcvp.science.kew.org\/taxon\/296047-2","Name_matched_lsid":"","Phonetic":"","Taxonomic_status":"Accepted","Accepted_name":"Bradea","Accepted_species":"","Accepted_name_author":"Standl.","Accepted_name_id":"2051453","Accepted_name_rank":"genus","Accepted_name_url":"https:\/\/wcvp.science.kew.org\/taxon\/296047-2","Accepted_name_lsid":"","Accepted_family":"Rubiaceae","Overall_score_order":"1","Highertaxa_score_order":"1","Source":"wcvp","Warnings":"1"},{"ID":"1","Name_submitted":"Brad
        boyle","Overall_score":"0.40042615603257","Name_matched_id":"2051453","Name_matched":"Bradea","Name_score":"0.40042615603257","Name_matched_rank":"genus","Author_submitted":"","Author_matched":"","Author_score":"","Canonical_author":"Standl.","Name_matched_accepted_family":"Rubiaceae","Genus_submitted":"Brad","Genus_matched":"Bradea","Genus_score":"0.66666666666667","Specific_epithet_submitted":"boyle","Specific_epithet_matched":"","Specific_epithet_[...]
