http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"resolve","matches":"best"},"data":[[1,"Arecaceae
        Mauritia"],[2,"Solanaceae Solanum bipatens Dunal"],[3,"HYPOPTERYGIACEAE Hypopterygium
        incrassatolimbatum Ma^sAAAll. Hal."],[4,"Helotiaceae Diplothrix juniperifolia"],[5,"Arecaceae
        Leopoldinia pulchra Mart."],[6,"Melastomataceae Leandra schenckii"],[7,"Hydnocarpus
        macrocarpa"],[8,"Campyliaceae Warnstorfia trichophylla (Warnst. ) Tuom. &
        T. J. Kop."],[9,"Piper arboreum Aubl."],[10,"Poaceae Pseudochaetochloa australiensis
        Hitchc."],[11,[...]
