http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"tropicos,wcvp","class":"tropicos","mode":"resolve","matches":"all"},"data":[["1","Epidendon
        boyleii"]]}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"ID":"1","Name_submitted":"Epidendon boyleii","Overall_score":"0.49723465129158","Name_matched_id":"650244","Name_matched":"Epidendron","Name_score":"0.49723465129158","Name_matched_rank":"genus","Author_submitted":"","Author_matched":"","Author_score":"","Canonical_author":"L.","Name_matched_accepted_family":"Orchidaceae","Genus_submitted":"Epidendon","Genus_matched":"Epidendron","Genus_score":"0.9","Specific_epithet_submitted":"boyleii","Specific_epithet_matched":"","Specific_epithet_score":"","Family_submitted":"","Family_matched":"","Family_score":"","Infraspecific_rank":"","Infraspecific_epithet_matched":"","Infraspecific_epithet_score":"","Infraspecific_rank_2":"","Infraspecific_epithet_2_matched":"","Infraspecific_epithet_2_score":"","Annotations":"","Unmatched_terms":"boyleii","Name_matched_url":"http:\/\/www.tropicos.org\/Name\/40004085","Name_matched_lsid":"","Phonetic":"","Taxonomic_status":"No
        opinion","Accepted_name":"","Accepted_species":"","Accepted_name_author":"","Accepted_name_id":"","Accepted_name_rank":"","Accepted_name_url":"","Accepted_name_lsid":"","Accepted_family":"","Overall_score_order":"3","Highertaxa_score_order":"1","Source":"tropicos","Warnings":"9"},{"ID":"1","Name_submitted":"Epidendon
        boyleii","Overall_score":"0.82664312589041","Name_matched_id":"892491","Name_matched":"Epidendrum
        boylei","Name_score":"0.82664312589041","Name_matched_rank":"species","Author_submitted":"","Author_matched":"","Author_score":"","Canonical_author":"H\u00c3\u00a1gsater
        & Dodson","Name_matched_accepted_family":"Orchidaceae","Genus_submitted":"Epidendon","Genus_matched":"Epidendrum","Genus_score":"0.7","Specific_epithet_submitted":"b[...]
