http_interactions:
- request:
    method: POST
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"parse","matches":"best"},"data":[[1,"Epidenrum
        boyleii"],[2,"Acer rubrum"],[3,"Xanthium strumarium"],[4,"Abies alba"]]}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"ID":"1","Name_submitted":"Epidenrum boyleii","Family":"","Genus":"Epidenrum","Specific_epithet":"boyleii","Infraspecific_rank":"","Infraspecific_epithet":"","Infraspecific_rank_2":"","Infraspecific_epithet_2":"","Author":"","Annotations":"","Unmatched_terms":"","WarningsEng":null},{"ID":"2","Name_submitted":"Acer
        rubrum","Family":"","Genus":"Acer","Specific_epithet":"rubrum","Infraspecific_rank":"","Infraspecific_epithet":"","Infraspecific_rank_2":"","Infraspecific_epithet_2":"","Author":"","Annotations":"","Unmatched_terms":"","WarningsEng":null},{"ID":"3","Name_submitted":"Xanthium
        strumarium","Family":"","Genus":"Xanthium","Specific_epithet":"strumarium","Infraspecific_rank":"","Infraspecific_epithet":"","Infraspecific_rank_2":"","Infraspecific_epithet_2":"","Author":"","Annotations":"","Unmatched_terms":"","WarningsEng":null},{"ID":"4","Name_submitted":"Abies
        alba","Family":"","Genus":"Abies","Specific_epithet":"alba","Infraspecific_rank":"","Infraspecific_epithet":"","Infraspecific_rank_2":"","Infraspecific_epithet_2":"","Author":"","Annotations":"","Unmatched_terms":"","WarningsEng":null}]'
  recorded_at: 2026-09-02 16:10:38
recorded_with: VCR-vcr/2.1.0
