http_interactions:
- request:
    method: post
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      encoding: ''
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"sources","matches":"best"}}'
    headers:
      Content-Type: application/json
      charset: UTF-8
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"sourceID":"1","sourceName":"wfo","sourceNameFull":"World Flora Online","sourceUrl":"http:\/\/www.worldfloraonline.org\/","geographic_scope":"global","taxonomic_scope":"Embryophyta","scope":"global","description":"The
        World Flora Online will be an open-access, Web-based compendium of the worlds
        plant species. It will be a collaborative, international project, building
        upon existing knowledge and published floras, checklists and revisions but
        will also require the collection and generation of new information on poorly
        know plant groups and plants in unexplored regions. WFO replaces The Plant
        List","dataUrl":"https:\/\/files.worldfloraonline.org\/files\/WFO_Backbone\/_WFOCompleteBackbone\/","logo_path":"https:\/\/bien.nceas.ucsb.edu\/bien\/wp-content\/uploads\/2021\/07\/wfo_logo.jpeg","isDefault":"1","version":"v.2023.06","sourceReleaseDate":"2023-06-01","tnrsDateAccessed":"2024-01-10"},{"sourceID":"2","sourceName":"wcvp","sourceNameFull":"World
        Checklist of Vascular Plants","sourceUrl":"https:\/\/wcvp.science.kew.org\/","geographic_scope":"global","taxonomic_scope":"Tracheophyta","scope":"global","description":"
        The World Checklist of Vascular Plants is based on Kew names and taxonomic
        backbone which has been created by reconciling the names from the International
        Plant Names Index (IPNI) with the taxonomy from the World Checklist [...]
