http_interactions:
- request:
    method: POST
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"parse","matches":"best"},"data":[[1,"Epidentrum
        boyleii"]]}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"ID":"1","Name_submitted":"Epidentrum boyleii","Family":"","Genus":"Epidentrum","Specific_epithet":"boyleii","Infraspecific_rank":"","Infraspecific_epithet":"","Infraspecific_rank_2":"","Infraspecific_epithet_2":"","Author":"","Annotations":"","Unmatched_terms":"","WarningsEng":null}]'
  recorded_at: 2026-09-02 16:10:37
recorded_with: VCR-vcr/2.1.0
