http_interactions:
- request:
    method: POST
    uri: https://tnrsapi.xyz/tnrs_api.php
    body:
      string: '{"opts":{"sources":"wcvp,wfo","class":"wfo","mode":"resolve","matches":"best"},"data":[[1,"Acer
        rubrum"],[2,"Xanthium strumarium"],[3,"Abies alba"]]}'
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"ID":"1","Name_submitted":"Acer rubrum","Overall_score":"1","Name_matched_id":"508558","Name_matched":"Acer
        rubrum","Name_score":"1","Name_matched_rank":"species","Author_submitted":"","Author_matched":"","Author_score":"","Canonical_author":"L.","Name_matched_accepted_family":"Sapindaceae","Genus_submitted":"Acer","Genus_matched":"Acer","Genus_score":"1","Specific_epithet_submitted":"rubrum","Specific_epithet_matched":"rubrum","Specific_epithet_score":"1","Family_submitted":"","Family_matched":"","Family_score":"","Infraspecific_rank":"","Infraspecific_epithet_matched":"","Infraspecific_epithet_score":"","Infraspecific_rank_2":"","Infraspecific_epithet_2_matched":"","Infraspecific_epithet_2_score":"","Annotations":"","Unmatched_terms":"","Name_matched_url":"https:\/\/powo.science.kew.org\/taxon\/urn:lsid:ipni.org:names:1867-2","Name_matched_lsid":"","Phonetic":"Y","Taxonomic_status":"Accepted","Accepted_name":"Acer
        rubrum","Accepted_species":"Acer rubrum","Accepted_name_author":"L.","Accepted_name_id":"508558","Accepted_name_rank":"species","Accepted_name_url":"https:\/\/powo.science.kew.org\/taxon\/urn:lsid:ipni.org:names:1867-2","Accepted_name_lsid":"","Accepted_family":"Sapindaceae","Overall_score_order":"1","Highertaxa_score_order":"1","Source":"wcvp","Warnings":"0","WarningsEng":""},{"ID":"2","Name_submitted":"Xanthium
        strumarium","Overall_score":"1","Name_matched_id":"81332","Name_matched":"Xanthium
        strumarium","Name_score":"1","Name_matched_rank":"species","Author_submitted":"","Author_matched":"","Author_score":"","Canonical_author":"L.","Name_matched_accepted_family":"Asteraceae","Genus_submitted":"Xanthium","Genus_matched":"Xanthium","Genus_score":"1","Specific_epithet_submitted":"strumarium","Specific_epithet_matched":"strumarium","Specific_epithet[...]
